.NavContainer{
  background-image: url('../../assets/images/restaurant.jpg');
  width: 80%;
  padding: 50px;
  border-radius: 10px;
  margin-left: 150px;
}
#button2{
  cursor: pointer;
  border: 1px solid #b5bdc2;
  background-color: rgba(230, 232, 233, 0.1);
  height: 50px;
  width: 200px;
  color: #f2f2f3;
  font-size: 1.5em;
  box-shadow: 0 6px 6px rgba(163, 153, 153, 0.6);
}